:root {
    --blue: #66E2DC;
    --orange: #FA7453;
    --ligh-yellow: #FFB964;
    --light-white: #FCFAF9;
    --black: #191826;
    --white: #fff;
}

body {
    position: relative;
    padding: 0 165px;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: relative;
}

footer {
    display: flex;
    gap: 359px;
    justify-content: center;
}



.bg-desktop {
    position: absolute;
    top: -300px;
    left: -250px;
}

.bg-tablet {
    display: none;
}

.bg-mobile {
    display: none;
}

.h1-header {
    color: var(--black);
    padding-top: 64px;
}

.img-header {
    position: absolute;
    right: -165px;
    top: -40px;
    z-index: 1;
}

.middle-container {
    display: flex;
    flex-direction: column;
    padding-top: 125px;

}

.h1-middle {
    font-style: normal;
    font-weight: 700;
    font-size: 88px;
    line-height: 88px;
    letter-spacing: -1px;
    color: var(--black);
    max-width: 1015px;
    margin-bottom: 40px;
}

.p-middle {
    color: var(--black);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    max-width: 825px;
}

.hero-container {
    width: 1110px;
    height: 600px;
    background: var(--black);
    border-radius: 12px;
    position: relative;
    margin-top: 321px;
    margin-bottom: 202px;
}

.card-container {
    width: 333px;
    height: 519px;
    background: var(--orange);
    color: var(--light-white);
    padding: 58px 54px 48px 59px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    border-radius: 12px;
    top: 89px;
    right: 97px;
}

.ilutration-app {
    width: 280px;
    height: 606px;
    position: absolute;
    top: -194px;
    left: 102px;
}

.pattern {
    position: absolute;
    left: 305px;
    top: -40px;
}

.card-header {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    margin-bottom: 22px;
}

.card-text {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    margin-bottom: 39px;
}

.card-price {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.2px;
    margin-bottom: 46px;
}

.inner-span {
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 52px;
}

.button {
    cursor: pointer;
    width: 100%;
    padding: 15px 0;
    border-radius: 12px;
    border: none;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    /* identical to box height, or 178% */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    text-align: center;
    letter-spacing: -0.18px;
}

.button-ios {
    background: var(--black);
    color: var(--light-white);
    margin-bottom: 16px;
}

.button-ios:hover {
    background: var(--blue);
}

.button-android {
    color: var(--black);
    background: var(--light-white);
}

.button-android:hover {
    background: var(--ligh-yellow);
}

.footer-right {
    display: flex;
    gap: 138px;
}

.text-footer {
    max-width: 366px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.footer-left {
    display: flex;
    gap: 20px;
}

.footer-img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.footer-img:hover {
    background-color: var(--orange);

}

@media (max-width: 768px) {

    body {
        padding: 0 39px;
    }

    footer {
        display: flex;
        gap: 230px;
    }

    .bg-desktop {
        display: none;
    }

    .bg-tablet {
        display: block;
        position: absolute;
        top: -300px;
        left: -250px;
    }

    .h1-middle {
        width: 520px;
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 64px;
        letter-spacing: -0.727273px;
        margin-bottom: 28px;
    }

    .p-middle {
        width: 514px;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
    }

    .hero-container {
        width: 696px;
        height: 600px;
        background: var(--black);
        border-radius: 12px;
        position: relative;
        margin-top: 321px;
        margin-bottom: 220px;
    }

    .card-container {
        width: 303px;
        height: 546px;
        padding: 48px;
        position: absolute;
        border-radius: 12px;
        top: 150px;
        right: 58px;
    }

    .card-header {
        margin-bottom: 12px;
    }

    .ilutration-app {
        width: 280px;
        height: 606px;
        position: absolute;
        top: -138px;
        left: 64px;
    }

    .pattern {
        position: absolute;
        left: 226px;
        top: -50px;
    }

    .footer-right {
        display: flex;
        flex-direction: column;
        gap: 32px;
        width: 100%;
    }

    .text-footer {
        max-width: 366px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
    }

    .footer-left {
        display: flex;
        gap: 20px;
        justify-content: flex-end;
        align-items: flex-end;
    }

    .footer-img {
        width: 20px;
        height: 20px;
        cursor: pointer;
    }

    .footer-img:hover {
        background-color: var(--orange);

    }

}

@media (max-width: 375px) {

    body {
        padding: 0 0px;
    }

    footer {
        display: flex;
        gap: 359px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 24px;
        gap: 64px;
    }

    nav {
        padding: 0 24px;
        margin-bottom: 64px;
    }

    .middle-container {
        padding: 0 24px;

    }

    .bg-desktop {
        display: none;
    }

    .bg-tablet {
        display: none;
    }

    .bg-mobile {
        display: block;
        position: absolute;
        top: -300px;
        right: -150px;
    }

    .img-header {
        display: none;
    }

    .h1-middle {
        width: 327px;
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;

        letter-spacing: -0.454545px;
        margin-bottom: 20px;
    }

    .p-middle {
        width: 327px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
    }

    .hero-container {
        max-width: 375px;
        height: 600px;
        background: var(--black);
        border-radius: 12px;
        position: relative;
        margin-top: 321px;
        margin-bottom: 450px;
    }

    .card-container {
        width: 303px;
        height: 546px;
        padding: 48px 36px;
        position: absolute;
        border-radius: 12px;
        left: 0;
        top: 380px;
    }

    .card-header {
        margin-bottom: 12px;
    }

    .ilutration-app {
        width: 209px;
        height: 430px;
        position: absolute;
        top: -98px;
        left: 80px;
    }

    .pattern {
        position: absolute;
        left: 48px;
        top: 0px;
        width: 280px;
        height: 420px;
    }

    .footer-right {
        display: flex;
        flex-direction: column;
        gap: 32px;
        width: 100%;
    }

    .text-footer {
        max-width: 327px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
    }

    .footer-left {
        display: flex;
        gap: 20px;
        justify-content: flex-end;
        align-items: flex-end;
    }

    .footer-img {
        width: 20px;
        height: 20px;
        cursor: pointer;
    }

    .footer-img:hover {
        background-color: var(--orange);

    }

}